.ContainerUser{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.User{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 2rem;
}
.UserSmall{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin: 2rem;
}


