.messageTitle{
    padding:0 1rem;
    border: 1px solid #B2B2B2;
    background-color: #FFFFFF;
}

.inputMessage{
    border: none; 
    background-color: #FFFFFF;
    padding: 5px; 
    margin: 0; 
    outline: none; 
    color: black; 
    flex-grow: 1;
    border: 1px solid #B2B2B2;
   
}
.message{
    display: flex;
    
}