

.container {
    flex-grow: 1; 
    max-height:calc(100vh - 6rem);
    max-width: 80vw;
    overflow: auto;
}

.mensaje {
    display: flex;
    align-items: center; 
    height: auto; 
    font-size: 1rem;
    flex-grow: 1; 
    text-indent: 0.5rem;
    border-bottom: 1px solid #b4b2b2;
    word-wrap: break-word;
    align-items: flex-start;
}

.user {
    text-align: start;
    flex-grow: 0;
    white-space: nowrap; 
}
.message{
    flex-grow: 1;
}
