

.container {
    flex-grow: 1; 
    max-height:calc(100vh - 6rem);
    overflow: auto;
}

.mensaje {
    display: flex;
    align-items: center; 
    height: auto; 
    font-size: 1rem;
    flex-grow: 1; 
    text-indent: 0.5rem;
}

.user {
    text-align: left;
    flex-grow: 0; 
}
.message{
    flex-grow: 1;
}
