.ContainerUsersList{
    width: 13rem;
    min-width: 13rem;
}
.UsersList{
    margin:  0 2.6rem;
}
.user{
    text-indent: 0.5rem;
    list-style:none
}
.title{
    padding: 0.17 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    list-style-type: none; 
}

ul li::marker {
    content: "•"; 
    color: #42B992; 
    margin-right: 10px; 
}
