.naver{
    background-color:#DF462A;
    color: white;
    font-weight: bold;
    padding:0.5rem 0.25rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    
}
.icon{
    margin-right: 0.5rem;
}
.logo{
    display: flex;
    padding-left: 2.5rem;
    font-size: 1.5rem;
}
.opsUser{
    margin: 0 2rem;

}